<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Flask App{% endblock %}</title>
    <link rel="stylesheet" href="{{ static_url }}/style.css">
</head>

<body>
    <nav>
        <a href="{{ url_for('main.index') }}">Home</a>
        <a href="{{ url_for('main.about') }}">About</a>
        <a href="{{ url_for('main.contact') }}">Contact</a>
        <a href="{{ url_for('main.upload_file') }}">Files</a>
    </nav>
    <div class="container">
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </div>
    <div class="main-img"><img src="{{ static_url }}/img/eye.webp" alt=""></div>
</body>

</html>